<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
</head>
<body>
    <h1>Login</h1>

    <div class="content" align="center">
        <img src="logo.png" height="300" width="300"/>
    <div class="form">
    <form method="post" action="login" id="login-form">
          <label for="id">ID</label>
          <input type="text" name="userId"/>
          <label for="pw">PW</label>
          <input type="password" name="pw"/><br>
          <button type="submit">Login</button>
    </form>
    </div>
    <script>
        const form = document.getElementById("login-form")

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const userId = form.userId.value;
            const pw = form.pw.value;
            
        try{

            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ userId, pw }),
                headers: {'Content-Type': 'application/json'}
            });
            
            const data = await res.json();
            console.log(data);

            if(data.user){
                location.assign("/admin")
            }
        }
        catch{
            //console.log(err);
        }

        })

    </script>
</body>