<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="content" align="center">
        <img src="logo.png" height="300" width="300"/>
    <div class="form">
    <form method="post" action="register" id="register-form">
          <label for="id">ID</label>
          <input type="text" name="userId"/>
          <label for="pw">PW</label>
          <input type="password" name="pw"/><br>
          <button type="submit">Register</button>
    </form>

    <script>

        const form = document.getElementById("register-form")

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const userId = form.userId.value;
            const pw = form.pw.value;
            
            try {
                const res = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({ userId, pw}),
                    headers: {'Content-Type': 'application/json'}
                })
            }
            catch {

            }
        })

    </script>
    </div>
</div>
</body>
</html>